<section class="card">
    <div class="media">
        <img src="/images/image-colton.jpg" alt="An image of Colton Smith" class="media__image" />
        <div class="media__body">
            <h3 class="media__title">Colton Smith</h3>
            <p>Verified Buyer</p>
        </div>
    </div>
    <blockquote class="card__body">
        We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it
        in time. Excellent!
    </blockquote>
</section>
