<article class="rating-block grid grid--3x1 grid--3x5">
    <section class="rating card card--secondary">
        <div class="rating__stars">
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
        </div>
        <p class="rating__text">Rated 5 Stars in Reviews</p>
    </section>
    <section class="rating card card--secondary">
        <div class="rating__stars">
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
        </div>
        <p class="rating__text">Rated 5 Stars in Report Guru</p>
    </section>
    <section class="rating card card--secondary">
        <div class="rating__stars">
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
            <img src="/images/icon-star.svg" alt="" />
        </div>
        <p class="rating__text">Rated 5 Stars in BestTech</p>
    </section>
</article>
